<!DOCTYPE html>
<html>

<head>
    <style>
        .button {
            border: none;
            width: 100px;
            height: 50px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <meta charset="utf-8">
    <title>NewMech IoT Controller</title>
    <script type="text/javascript" src="canvasjs.min.js"></script>
    <script src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="smoothie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var receiver;
        $(document).ready(() => {
            var socket = io();
            socket.on('pin13_state', data => {
                var state = data;
                $('#pin13').text(state);
                if (state == "ON") {
                    $('#pin13').css("background-color", "#4CAF50");
                    $('#pin13').css("color", "white");
                } else {
                    $('#pin13').css("background-color", "#e7e7e7");
                    $('#pin13').css("color", "black");
                }
            });
            $('#pin13').click(() => {
                var msg = "Button Pressed!"
                socket.emit('pin13_change', msg);
            })
            var data = {};

            socket.on('sensor_data', packet => {
                    data.tempVal = packet.temp;
                    data.hmdtVal = packet.humid;
                    $('#tempButton').text(data.tempVal);
                    $('#tempButton').css("background-color", "#4CAF50");
                    $('#tempButton').css("color", "white");
                    $('#humidButton').text(data.hmdtVal);
                    $('#humidButton').css("background-color", "#4CAF50");
                    $('#humidButton').css("color", "white");
                })
                // Data
            var line1 = new TimeSeries();
            var line2 = new TimeSeries();
            // Add a random value to each line every second
            setInterval(function() {
                    line1.append(new Date().getTime(), data.tempVal.toFixed(2));
                    line2.append(new Date().getTime(), data.hmdtVal.toFixed(2));
                }, 10000)
                // Add to SmoothieChart
            tempChart.addTimeSeries(line1);
            hmdtChart.addTimeSeries(line2);
        });
    </script>

    <script type="text/javascript">
        window.onload = function() {

            var dps = []; // dataPoints

            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Live Random Data"
                },
                data: [{
                    type: "line",
                    dataPoints: dps
                }]
            });

            var xVal = 0;
            var yVal = 100;
            var updateInterval = 100;
            var dataLength = 500; // number of dataPoints visible at any point

            var updateChart = function(count) {
                count = count || 1;
                // count is number of times loop runs to generate random dataPoints.

                for (var j = 0; j < count; j++) {
                    yVal = yVal + Math.round(5 + Math.random() * (-5 - 5));
                    dps.push({
                        x: xVal,
                        y: yVal
                    });
                    xVal++;
                };
                if (dps.length > dataLength) {
                    dps.shift();
                }

                chart.render();

            };

            // generates first set of dataPoints
            updateChart(dataLength);

            // update chart after specified time.
            setInterval(function() {
                updateChart()
            }, updateInterval);

        }
    </script>
</head>

<body>
    <h1 style="font-family:verdana">NewMech IoT Controller</h1>
    <div id="chartContainer" style="height: 300px; width:100%;"></div>
    <canvas id="tempCanvas" width="800" height="200"></canvas>
    <canvas id="hmdtCanvas" width="800" height="200"></canvas>
    <script>
        var tempChart = new SmoothieChart();
        tempChart.streamTo(document.getElementById("tempCanvas"), 10000);

        var hmdtChart = new SmoothieChart();
        hmdtChart.streamTo(document.getElementById("hmdtCanvas"), 10000);
    </script>
    <br>
    <button class="button" id="tempButton"></button>
    <button class="button" id="humidButton"></button>
    <br>
</body>

</html>
